.library {
  position: fixed;
  box-shadow: 2px 2px 50px #1b141a;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  overflow: scroll;
  background: linear-gradient(to right top, #1a1a1acc, #68686838);
  transform: translateX(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  margin-left: 100px;

  h2 {
    padding: 2rem;
    color: white;
  }
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: all 0.75s ease-out;

  img {
    width: 30%;
    border-radius: 5px;
  }
  &:hover:not(.selected) {
    background: rgb(53, 41, 50);
  }
}
.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1rem;
    color: rgb(167, 167, 167);
  }
  h4 {
    font-size: 0.7rem;
    color: white;
  }
}

/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.7) transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0.8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: rgb(37, 29, 35);
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
